@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: #f8f9fa;
    background-color: #212529;
}

.video-item:active, .video-item:hover {
    background-color: #343a40;
}

@media (max-width: 480px) {
    .home {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 0vh 0vh;
    }
    
    .search {
        min-width: 320px;
        padding: 50px 9px 20px 10px;
    }

    .search, .search-label, .video-item-card, .video-item-card-details,  .video-iframe, .video-iframe-details, p {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .video-list-items, .video-container {
        display: grid;
        grid-template-rows: 1fr;
        padding: 50px 9px 20px 10px;
        min-width: 320px;
    }

    .video-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border: 3px solid #343a40;
        border-radius: 6px;
        margin: 10px
    }

    .video-item-card-details {
        padding: 10px
    }
}