@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    background-color: #131313;
}

.video-item:hover, .video-item:active {
    background-color: #270031;
}

@media (max-width: 480px) {
    .home, .search, .iframe, .video-iframe, .video-iframe-details, .video-item, .video-item-card-details {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .search {
        min-height: 150px;
    }

    .iframe {
        padding: 10px;
    }

    .video-container, .video-item {
        border: solid 2px;
        border-radius: 6px;
        padding: 5px;
    }

    .video-iframe-details, .video-item {
        max-width: 304px;
    }

    .video-list-items, .video-item {
        padding: 20px;
    }

    .video-item {
        max-width: 304px;
        margin: 30px;
    }
}

@media (min-width: 481px) and (max-width: 900px) {
    .home, .search, .iframe, .video-iframe, .video-iframe-details, .video-item, .video-item-card-details {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .search {
        min-height: 150px;
    }

    .iframe {
        padding: 10px;
    }

    .video-container, .video-item {
        border: solid 2px;
        border-radius: 6px;
        padding: 10px;
    }

    .video-iframe-details, .video-item {
        max-width: 304px;
    }

    .video-list-items, .video-item {
        padding: 20px;
    }

    .video-item {
        max-width: 304px;
        margin: 40px
    }
}

@media (min-width: 901px) {

}